doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="css/index.css")
		title Perfect Mind - Martial Arts Management Software
	body
		div(id="overflow")
			header
			section(id="hero")
				div(class="wrapper")
					div(class="hero-section")
						div(class="logo")
							img(src="images/perfectmind.svg" alt="a martial artists kicking pads held by a coach")
						h1 Martial Arts <br> Management Software
						p Manage and grow your dojo with an all-in-one martial arts management software that will tackle all your business needs.
						div(class="button-group")
							a(href="#" class="button primary") Book a Demo
							a(href="#" class="button") Trial
					div(class="hero-section featured-container")
						div
							div(id="flavour" class="featured-image")
								img(src="images/action-martial-arts.jpg" alt="a martial artists kicking pads held by a coach")
							div(id="software" class="featured-image")
								img(src="images/martial-arts-ranking.svg" alt="a martial artists kicking pads held by a coach")
			section(id="halloween-promo")
				div(class="wrapper")
					h1 Celebrate Halloween with 10% OFF new plans
					a(href="#" class="button white") Check Plans
			main
				section(class="feature")
					div(class="wrapper")
						div(class="section")
							h2 Belts and Ranking
							p Our simple, configurable rank management system fits your dynamic curriculum and automates belt testing. Promote students based on exam attendance or all at once.
						div(class="section")
							div(class="image-container")
								img(src="images/martial-arts-ranking.svg" alt="a martial artists kicking pads held by a coach")
				section(class="feature gray")
					div(class="wrapper")
						div(class="section second")
							div(class="image-container")
								img(src="images/attendance-tracking.svg" alt="a martial artists kicking pads held by a coach")
						div(class="section first")
							h2 Attendance Tracking
							p Increase your student retention rate with PerfectMind’s intelligent attendance-tracking system that proactively monitors cancellation indicators. Using self check-in, your students can check themselves in on your computer, tablet, or smartphone.
							a(href="#") Learn More >
				section(class="feature")
					div(class="wrapper")
						div(class="section")
							h2 Integrated Website
							p PerfectMind's platform tightly integrates with your existing website, enabling you to run your scheduling, marketing, billing, POS, and more from one easy to use system. Our martial arts software is fully responsive, so students and visitors can use any smart device to register, purchase, and view offers.
							p Need a new website? No problem! Engage our Digital Marketing team to develop a responsive, modern website designed to capture more leads for your school. SEO optimization ensures your website ranks well in search results.
						div(class="section")
							div(class="image-container")
								img(src="images/integrated-website.webp" alt="a martial artists kicking pads held by a coach")
				section(class="feature center gray")
					div(class="wrapper")
						div(class="section")
							h2 No Matter the Size, We've Got You Covered
							p Built for martial artists, by martial artists. From solopreneur dojos to multi-location franchises, PerfectMind’s martial arts software can help increase sales and conversion rates, streamline billing, and simplify staff management and reporting.
							div(class="button-group")
								a(href="#" class="button primary") Book a Demo
		footer
			div(class="wrapper")
				div(class="logo")
					img(src="images/perfectmind.svg" alt="a martial artists kicking pads held by a coach")
				<a href="https://www.vecteezy.com/"> Vectors by Vecteezy</a>